html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

#gridContainer {
    border: 4px solid green;
    min-height: 400px; 
}

.gridBlock {
    border: 4px solid black;
}