/* be aware of border sizes when uncommenting
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
*/
#gridContainer {
    border: 2px solid black;
    height: 500px; 
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}
/*
.gridBlock {
    outline: 1px solid black;
}
*/
.hoverColor {
    background-color: black;
}